body{
    background-image: url(https://wallpaperaccess.com/full/643660.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    width: 100%;
    margin: 100px;
    display: inline;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px; */
}

img{
    border: 12px solid #d1bba3;
    cursor: pointer;
    box-shadow: 4px 4px #bd9971;
    border-radius: 5px;
    margin: 4px;
}


